@use '../css/animations';
@use '../css/colors';

.w_player {
    @include animations.flyin("&", "top");

    .layout-box {
        margin: 4px;
        background-color: colors.$primary;
        border-radius: 8px;

        .left {
            border-radius: 8px;
            background-color: colors.$secondary;

            .image {
                border-radius: 8px;
            }

            .controls {
                @include animations.fade("button:hover label", colors.$text, white, $property: "color");
                @include animations.fade("button:active label", white, colors.$text, $property: "color");
                padding: 10px;
            }
        }

        .right {
            padding: 10px;
            padding-right: 10px;

            .duration {
                font-size: 1em;
            }

            .title {
                font-size: 2.5em;
                font-weight: bolder;
            }

            .artist {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}
