@use '../css/animations';
@use '../css/colors';

.w_powermenu {
    background-color: transparent;
    margin: 4px;

    .layout-box {
        @include animations.flyin("&", "right");
        @include animations.fade("button:hover", colors.$primary, colors.$secondary);
        button {
            border-radius: 8px;
            background-color: colors.$primary;


            label {
                color: colors.$text;
                font-size: 25px;
            }
        }

        @each $selector in "power", "reboot", "logout", "hibernate" {
            .#{$selector} .transition-text {
                font-weight: bolder;
                font-size: 10px;
                padding-right: 2px;
                color: transparent;
            }

            .#{$selector}:hover button {
                transition: 100ms linear padding;
                padding: 2px 2px;
            }

            .#{$selector}:not(:hover) button {
                transition: 100ms linear padding;
                padding: 2px 2px;
            }

            .#{$selector}:hover .transition-text {
                @include animations.flyin("&", "top");
                transition: 200ms linear color;
                color: colors.$accent;
            }

            .#{$selector}:not(:hover) .transition-text {
                transition: 200ms linear color;
                color: transparent;
            }
        }

        .power button label {
            color: colors.$bad;
            font-size: 25px;
        }
    }
}
